<div class="flex w-screen border-t border-b mt-4">
    <div class="w-1/5 h-12"><img class="transform scale-150" src="/assets/images/icn_surfing.png" alt="" srcset=""></div>
    <div class="w-3/5 h-12 flex"><h4 class="self-center">Sport</h4></div>
    <div class="w-1/5 h-12 flex"><img class="transform -rotate-90 self-center pt-16" src="/assets/images/icn_back_dark.png" alt="" srcset=""></div>
</div>


<template id="catTabTemp">
    <div class="w-1/5 h-12"><img class="transform scale-150" src="/assets/images/icn_surfing.png" alt="" srcset=""></div>
    <div class="w-3/5 h-12 flex"><h4 class="self-center">Sport</h4></div>
    <div class="w-1/5 h-12 flex"><img class="transform -rotate-90 self-center pt-16" src="/assets/images/icn_back_dark.png" alt="" srcset=""></div>
</template>