@import 'style';

.settings{

    padding-top: 5rem;

    &__heading{
        text-align: center;

        &-one{
            font-size: 2rem;
            font-weight: bold;
            color: $lights-on;
        }
    }

    &__wrapper{
        margin: 2rem 0;
    }

    &__catPicker{
        padding:  1rem;
        margin: 0.1rem 1rem;
        background-color: #fff;
        font-weight: bold;

        &-top{
            border-radius: 15px 15px 0 0;
        }

        &-bottom{
            border-radius: 0 0 15px 15px;
        }
    }

    &__button{
        margin: 2rem 0;
        padding: 1rem;
        font-weight: normal;
        background-color: transparent;
        border: dotted 1px gray;
        border-radius: 30px;
        &-wrapper{
            display: flex;
            width: 100%;
            justify-content: center;
        }
    }
}